

@import "tailwindcss";




@font-face {
  font-family: 'MyFont';
  src: url('/fonts/MyFont.ttf') format('truetype');
}

body {
  font-family: 'MyFont', sans-serif;
  scroll-behavior: smooth;
}

*{
  font-family: MyFont;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}



